@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
  /* background-color: yellow; */
}
/* Track */
::-webkit-scrollbar-track {
  /* background: #151515; */
  /* border: 1px solid red; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #01080E; */
  /* background: #607B96; */
  /* background: #3C9D93; */
  /* background: #4D5BCE; */
  background: #FEA55F;
  /* background: #ea580c; */
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
